#inputBox {
    height:200px;;
    width:100%;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 82%;
    overflow:scroll;
    outline-style: solid;
    outline-color: pink;

}
#submitButton {
    padding: 5px;
    background-color: gray;
    color: white;
    font-size: 20px;
    font-family: "Times New Roman";
    position: relative;
    top: 65px;
}
.submitBox {
    text-align: center;
}
.navbar {
    background-color: pink;
}
.title {
    text-align: center;
    letter-spacing: 2px;
    font-family: "Times New Roman";
}
.processed {
    font-weight: bold;
    text-align: right;
}
.article {
    color:slateblue;
}
#postThe {
    color: purple;
}
#postA {
    color: purple;
}
#subject {
    color:seagreen;
}
#postSubject {
    color: pink;
}